<%
   nb_other_projects = 0
   nb_visible_projects = 0
   issue_projects = @issue.projects
   allowed_projects = [@issue.project] | @issue.allowed_target_projects
%>
<span id="my_projects_per_issue">
  <span id="list_of_projects_per_issue">
    <% issue_projects.each do |project| %>
      <% if allowed_projects.include?(project) %>
        <%= content_tag("span", project.name.gsub(/ /,"&nbsp;").html_safe, class: "list_projects_names") %>
        <% nb_visible_projects += 1 %>
      <% else %>
        <% nb_other_projects += 1 %>
      <% end %>
    <% end %>
  </span>
  <% if nb_other_projects > 0 %>
    <span class="list_other_projects">
      <% if nb_visible_projects>0 %>
        <span class="and_x_other_projects"><%= l("support.array.sentence_connector") %></span>
        <%= nb_other_projects %>
        <span class="and_x_other_projects"><%= nb_other_projects>1 ? l("other").pluralize : l("other") %></span>
      <% else %>
        <span class="and_x_other_projects" style="display: none;"><%= l("support.array.sentence_connector") %></span>
        <%= nb_other_projects %>
        <span class="and_x_other_projects" style="display: none;"><%= nb_other_projects>1 ? l("other").pluralize : l("other") %></span>
      <% end %>
      <%= nb_other_projects>1 ? l("project").pluralize : l("project") %>
      <%= l('you_are_not_a_member') %>
      </span>
  <% end %>
</span>
