<% if (User.current.admin? || User.current.roles_for_project(@issue.project).any? {|r| r.has_permission?(:link_other_projects_to_issue)}) && Setting['plugin_redmine_multiprojects_issue']['trackers'].include?(@issue.tracker_id.to_s) %>

  <p id="projects_form">
    <!-- this condition to avoid calling  @issue.allowed_target_projects ,in the pages (show/edit "open link in new tab" /new),
      call this method only for edit by "render_form_by_ajax" -->
    <% allowed_projects = @allowed_target_projects.present? ? @allowed_target_projects : @issue.allowed_target_projects %>
    <% select_options = project_tree_options_for_select((allowed_projects | @issue.projects) - [@issue.project], :selected => [@issue.project] | @issue.projects) %>

    <%= f.select :project_ids, select_options, {:label => l("related_projects")},
                 {:multiple => true, style: "display:none;"} %>
    <%= render 'projects_list', issue: @issue, selected_projects: @issue.projects, allowed_target_projects: allowed_projects %>
    <a href="#" class="load-modal-projects-selection" id="loadModalProjectsSelection"><%= l('modify_projects')%></a>
    <label id=answers-on-secondary-projects class="inline answers-on-secondary-projects" style="<%= "display:none;" if @issue.projects.none? %>"><%= f.check_box :answers_on_secondary_projects, :no_label => true %><%= l(:field_answers_on_secondary_projects) %></label>
  </p>

  <script>
    $("#loadModalProjectsSelection").click(function (e) {
      e.preventDefault();
      var project_ids = $('#issue_project_ids').val();
      if (project_ids.length == 0) {
        project_ids = ''
      }

      var allowed_projects = <%= allowed_projects.sort_by(&:lft).pluck(:id, :name, :status, :lft, :rgt).to_json.html_safe %>

      $.ajax({

        url: "<%=  plugin_multiprojects_issue_load_projects_selection_path(:issue_id => @issue.id, :project_id => @issue.project.id, :select_tag_id => "issue_project_ids" ) %>",

        data : { allowed_projects : allowed_projects, project_ids : project_ids },
        type: 'POST',
        success: function(response) {
          if(response){
            $('#ajax-modal').html(response.html);
            $('#ajax-indicator').hide();
            showModal("ajax-modal", "1000px");
          }
        }
      });

      $('#ajax-indicator').show();
    });
  </script>

<% end %>
